<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Aviso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h1>“¿Está seguro que desea agregar este aviso de adopción?</h1>
    <div>
        <button type="button" id="confirmar">
        Sí, estoy seguro
        </button>
        <button type="button" id="rechazar">
        No, no estoy seguro, quiero volver al formulario
        </button>
    </div>
<script>
const confirmar = () => {
    const mensaje = document.createElement("div");
    mensaje.textContent = "Hemos recibido la información de adopción, muchas gracias y suerte!";
    document.body.appendChild(mensaje);
    mensaje.style.position = "fixed";
    mensaje.style.top = "20px";
    mensaje.style.left = "50%";
    mensaje.style.transform = "translateX(-50%)";
    mensaje.style.backgroundColor = "lightgreen";
    mensaje.style.color = "black";
    mensaje.style.padding = "10px";
    setTimeout(() => {
        mensaje.remove();
        if (window.opener) {
            window.opener.location.href = "{{ url_for('index') }}";
        }
        window.close();
    }, 4000);
}
const rechazar = () => {
    window.close();
}   
let btnConfirmar = document.getElementById("confirmar");
btnConfirmar.addEventListener("click", confirmar);

let btnRechazar = document.getElementById("rechazar");
btnRechazar.addEventListener("click", rechazar);
</script>
</body>
</html>