<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h1>Detalle</h1>
    <div class="detalle">
        <div class="imagen-container" style="position: relative; display: inline-block;">
            {% for foto in aviso.fotos %}
                <div style="position: relative; display: inline-block; margin: 5px;">
                    <img src="{{ url_for('static', filename='uploads/' ~ foto.nombre_archivo) }}" 
                        alt="Foto de {{ aviso.tipo }}" width="320" height="240" class="imagenDetalle" style="cursor:pointer;">
                    <button class="cerrarBtn" hidden style="position: absolute; top: 5px; right: 5px;">Cerrar</button>
                </div>
            {% endfor %}
        </div>

        <h2>Información del Aviso</h2>
        <p><strong>Fecha de publicación:</strong> {{ aviso.fecha_ingreso.strftime('%Y-%m-%d %H:%M') }}</p>
        <p><strong>Fecha de entrega:</strong> {{ aviso.fecha_entrega.strftime('%Y-%m-%d %H:%M') }}</p>

        <h3>Ubicación</h3>
        <p><strong>Comuna:</strong> {{ aviso.comuna.nombre }}</p>
        <p><strong>Sector:</strong> {{ aviso.sector }}</p>

        <h3>Mascota</h3>
        <p><strong>Cantidad y edad:</strong> {{ aviso.cantidad }} {{ aviso.tipo }}, {{ aviso.edad }} {{ aviso.unidad_medida_texto }}</p>

        <h3>Contacto</h3>
        {% for contacto in aviso.contactos %}
            <p><strong>{{ contacto.nombre|capitalize }}:</strong> {{ contacto.identificador }}</p>
        {% endfor %}

        <h3>Descripción</h3>
        <p>{{ aviso.descripcion }}</p>
    </div>

    <div>
        <button type="button" id="listado">Volver al listado</button>
        <button type="button" id="index">Volver al inicio</button>
    </div>
<script>

const imagenesAviso = document.querySelectorAll(".imagenDetalle"); 

imagenesAviso.forEach((img) => {
    const btnCerrar = img.nextElementSibling; 
    const anchoOriginal = img.width;
    const altoOriginal = img.height;

    img.addEventListener("click", () => {
        img.style.width = "800px";
        img.style.height = "600px";
        btnCerrar.hidden = false; 
    });

    btnCerrar.addEventListener("click", () => {
        img.style.width = anchoOriginal + "px";
        img.style.height = altoOriginal + "px";
        btnCerrar.hidden = true;
    });
});

const listado = () => {
    window.location.href = "{{ url_for('listado') }}";
}
const index = () => {
    window.location.href = "{{ url_for('index') }}";
}   
let btnListado = document.getElementById("listado");
btnListado.addEventListener("click", listado);

let btnIndex = document.getElementById("index");
btnIndex.addEventListener("click", index);
</script>
</body>
</html>
