<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portal de adopción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <div>
        <h1> Bienvenido al Portal de adopción</h1>
        <button type="button" id="btn-agregar-aviso">Agregar aviso</button>
        <button type="button" id="btn-listado">Ver listado</button>
        <button type="button" id="btn-estadisticas">Ver estadísticas</button>
    </div>

    <!-- Contenido principal -->
    <h2>Últimos 5 avisos de adopción</h2>
        <table>
            <thead>
                <tr>
                    <th>Fecha publicación</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad Tipo <br> Edad</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                {% for aviso in avisos %}
                <tr>
                    <td>{{ aviso.fecha_ingreso.strftime("%Y-%m-%d %H:%M") }}</td>
                    <td>{{ aviso.comuna.nombre }}</td>
                    <td>{{ aviso.sector or "-" }}</td>
                    <td>{{ aviso.cantidad }} {{ aviso.tipo }}, <br>
                        {{ aviso.edad }} {{ aviso.unidad_medida_texto }}</td>
                    <td>
                        {% if aviso.fotos %}
                            <img src="{{ url_for('static', filename='uploads/' ~ aviso.fotos[0].nombre_archivo) }}" 
                                alt="Foto aviso" width="120">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- Scripts -->
    <script>
        const cargarFormulario = () => {
            window.location.href = "{{ url_for('formulario_aviso') }}"
        }
        const cargarEstadisticas = () => {
            window.location.href = "{{ url_for('estadisticas') }}"
        }
        const cargarListado = () => {
            window.location.href = "{{ url_for('listado') }}"
        }

    let addBtn = document.getElementById("btn-agregar-aviso");
    addBtn.addEventListener("click", cargarFormulario);

    let btnLista = document.getElementById("btn-listado");
    btnLista.addEventListener("click", cargarListado);

    let btnEstadisticas = document.getElementById("btn-estadisticas");
    btnEstadisticas.addEventListener("click", cargarEstadisticas);
    </script>
</body>
</html>
