<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h1>Listado</h1>   
    <table>
        <thead>
            <tr>
                <th>Fecha publicación</th>
                <th>Fecha de entrega</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Cantidad Tipo <br> edad</th>
                <th>Nombre <br> Contacto</th>
                <th>Total fotos</th>
            </tr>
        </thead>
            <tbody>
            {% for aviso in avisos %}
           <tr data-href="{{ url_for('detalle', aviso_id=aviso.id) }}" style="cursor:pointer;">
                <td>{{ aviso.fecha_ingreso.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ aviso.fecha_entrega.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ aviso.comuna.nombre }}</td>
                <td>{{ aviso.sector }}</td>
                <td>{{ aviso.cantidad }} {{ aviso.tipo }}<br>{{ aviso.edad }} {{ aviso.unidad_medida_texto }}</td>
                <td>{{ aviso.nombre }}<br>{{ aviso.celular }}</td>
                <td>
                    {% for foto in aviso.fotos[:5] %}
                        <img src="{{ url_for('static', filename='uploads/' ~ foto.nombre_archivo) }}" alt="Mascota" width="120">
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="paginacion">
    {% if page > 1 %}
        <a href="{{ url_for('listado', page=page-1) }}">Anterior</a>
    {% endif %}

    Página {{ page }} de {{ total_pages }}

    {% if page < total_pages %}
        <a href="{{ url_for('listado', page=page+1) }}">Siguiente</a>
    {% endif %}
    </div>
    <div>
        <button type="button" id="btn-volver">Volver al portal</button>
    </div>
<script>
const volverMenu = () => {
     window.location.href = "{{ url_for('index') }}";
}   
let btnVolver = document.getElementById("btn-volver");
btnVolver.addEventListener("click", volverMenu);

document.querySelectorAll("tr[data-href]").forEach(tr => {
    tr.addEventListener("click", () => {
        window.location.href = tr.dataset.href;
    });
});
</script>        
</body>
</html>